/* src/App.css */
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Text color on top of the image */
  font-family: Arial, sans-serif;
  overflow: hidden; /* Hide overflow for the blur effect */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('assets/bg.jpeg') center/cover no-repeat fixed; /* Set image as background */
  filter: blur(5px); /* Adjust blur intensity */
  z-index: -1; /* Place the pseudo-element behind the content */
}

h1 {
  margin-bottom: 55px;
}

.header {
  text-align: center;
  background-color: #007BFF;
  color: white;
  padding: 20px;
  font-size: 24px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* Additional styles for the landing page */
.landing-page {
  text-align: center;
  margin-top: 50px;
}

.landing-page a {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #007BFF;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  padding: 20px;
}
